
/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: #f4f8fc;
  color: #1f2937;
  line-height: 1.6;
}


/* =========================
   GENERAL
========================= */

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.section {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title p {
  color: #7007bc;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.section-title h2 {
  color: #172033;
  font-size: 36px;
}

.section-title h2 span {
  color: #7007bc;
}


/* =========================
   NAVBAR
========================= */

.header {
  width: 100%;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #172033;
}

.logo span {
  color: #7007bc;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: #7007bc;
  font-size: 15px;
  font-weight: 500;

  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #4206507a;
}

.nav-button {
  background: #7007bc;
  color: white;

  padding: 10px 20px;
  border-radius: 8px;

  font-weight: 600;

  transition: 0.3s;
}

.nav-button:hover {
  background: #7007bc;
  transform: translateY(-2px);
}


/* =========================
   HOME / HERO
========================= */

.hero {
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  padding: 80px 8%;

  background: linear-gradient(135deg,
      #eaf3ff,
      #ffffff);
}

.hero-content {
  max-width: 580px;
}

.small-title {
  color: #7007bc;
  font-weight: 600;
  margin-bottom: 15px;
}

.small-title i {
  margin-right: 8px;
}

.hero h1 {
  font-size: 48px;
  color: #172033;
  line-height: 1.2;
}

.hero h1 span {
  color: #7007bc;
}

.hero h2 {
  color: #4b5563;
  font-size: 25px;
  margin: 15px 0;
}

.hero-description {
  color: #6b7280;
  margin-bottom: 25px;
}

.social-media {
  display: flex;
  gap: 12px;
}

.social-media a {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  color: #7007bc;

  border: 1px solid #dbeafe;
  border-radius: 50%;

  transition: 0.3s;
}

.social-media a:hover {
  background: #7007bc;
  color: white;
  transform: translateY(-4px);
}


/* =========================
   HERO IMAGE
========================= */

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-circle {
  width: 330px;
  height: 330px;

  border-radius: 50%;

  padding: 10px;

  background: linear-gradient(135deg,
      #3a03629b,
      #6407c0);

  box-shadow: 0 20px 50px rgba(37, 99, 235, 0.25);
}

.image-circle img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 50%;

  background: white;
}

.floating-card {
  position: absolute;

  display: flex;
  align-items: center;
  gap: 8px;

  background: white;

  padding: 12px 18px;

  border-radius: 10px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

  color: #172033;
  font-size: 14px;
  font-weight: 600;
}

.floating-card i {
  color: #52037a;
}

.card-one {
  top: 20px;
  left: -30px;
}

.card-two {
  bottom: 30px;
  right: -30px;
}


/* =========================
   BUTTON
========================= */

.hero-buttons {
  position: absolute;

  left: 8%;
  bottom: 70px;

  display: flex;
  gap: 15px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 22px;

  border-radius: 8px;

  font-weight: 600;

  transition: 0.3s;
}

.primary-btn {
  background: #7007bc;
  color: white;
}

.primary-btn:hover {
  background: #5c00b2;
  transform: translateY(-3px);
}

.secondary-btn {
  background: white;
  color: #5c00b2;

  border: 2px solid #5c00b2;
}

.secondary-btn:hover {
  background: #5c00b2;
  color: white;
}


/* =========================
   ABOUT
========================= */

.about-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 60px;

  align-items: center;
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-box {
  width: 280px;
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;

  background: linear-gradient(135deg,
      #dbeafe,
      #bfdbfe);

  color: #7007bc;

  font-size: 100px;

  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.15);
}

.about-content h3 {
  font-size: 28px;
  color: #172033;
  margin-bottom: 15px;
}

.about-content h3 span {
  color: #7007bc;
}

.about-content p {
  color: #6b7280;
  margin-bottom: 15px;
}

.about-info {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 15px;

  margin-top: 25px;
}

.about-info div {
  background: white;

  padding: 15px;

  border-radius: 10px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}

.about-info span {
  display: block;
  color: #6b7280;
  font-size: 13px;
}

.about-info strong {
  color: #172033;
}


/* =========================
   SKILLS
========================= */

.skill-section {
  background: #eef5ff;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.skill-card {
  background: white;

  padding: 25px;

  border-radius: 15px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.15);
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.skill-name {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 600;
}

.skill-name i {
  font-size: 28px;
}

.html {
  color: #e34f26;
}

.css {
  color: #1572b6;
}

.js {
  color: #f7df1e;
}

.progress {
  width: 100%;
  height: 8px;

  background: #e5e7eb;

  border-radius: 10px;

  overflow: hidden;

  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
}

.html-bar {
  width: 90%;
  background: #e34f26;
}

.css-bar {
  width: 85%;
  background: #1572b6;
}

.js-bar {
  width: 70%;
  background: #f7df1e;
}

.skill-card p {
  color: #6b7280;
  font-size: 14px;
}


/* =========================
   PROJECT
========================= */

.project-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.project-card {
  background: white;

  border-radius: 15px;

  overflow: hidden;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.15);
}

.project-image {
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg,
      #7007bc,
      #a004fa);
}

.project-two {
  background: linear-gradient(135deg,
      #0f766e,
      #2dd4bf);
}

.project-three {
  background: linear-gradient(135deg,
      #c2410c,
      #fb923c);
}

.project-icon {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.2);

  color: white;

  font-size: 35px;
}

.project-content {
  padding: 25px;
}

.project-year {
  color: #7007bc;
  font-size: 13px;
  font-weight: 600;
}

.project-content h3 {
  color: #172033;
  margin: 8px 0;
}

.project-content p {
  color: #6b7280;
  font-size: 14px;

  margin-bottom: 15px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 20px;
}

.project-tags span {
  background: #eff6ff;
  color: #7007bc;

  padding: 5px 10px;

  border-radius: 5px;

  font-size: 12px;
  font-weight: 600;
}

.project-link {
  color: #7007bc;
  font-size: 14px;
  font-weight: 600;
 }

.project-link:hover {
  color: #7007bc;
}


/* =========================
   CONTACT
========================= */

.contact-section {
  background: #eef5ff;
}

.contact-container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 50px;
}

.contact-info h3 {
  font-size: 28px;
  color: #172033;

  margin-bottom: 15px;
}

.contact-info>p {
  color: #6b7280;

  margin-bottom: 25px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 20px;
}

.contact-icon {
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #dbeafe;
  color: #6304bbcc;

  border-radius: 10px;
}

.contact-item span {
  color: #6b7280;
  font-size: 13px;
}

.contact-item p {
  color: #172033;
  font-weight: 500;
}


/* =========================
   FORM
========================= */

.contact-form {
  background: white;

  padding: 30px;

  border-radius: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;

  margin-bottom: 7px;

  color: #172033;

  font-size: 14px;
  font-weight: 600;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;

  padding: 12px 15px;

  border: 1px solid #d1d5db;

  border-radius: 8px;

  font-family: inherit;

  outline: none;

  transition: 0.3s;
  box-sizing: border-box;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
  border-color: #6304bbcc;

  box-shadow: 0 0 0 3px #dbeafe;
}

.input-group textarea {
  resize: vertical;
}

.submit-btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
}


/* =========================
   FOOTER
========================= */

footer {
  background: #172033;

  color: white;

  text-align: center;

  padding: 10px ;
  margin: 10px auto;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 10px;
}

.footer-logo span {
  color: #6304bbcc;
}

footer p {
  color: #9ca3af;
  font-size: 14px;
}

.footer-social {
  display: flex;
  justify-content: center;

  gap: 12px;

  margin-top: 10px;
}

.footer-social a {
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;

  background: #24324a;
  color: white;

  transition: 0.3s;
}

.footer-social a:hover {
  background: #6304bbcc;
  transform: translateY(-3px);
}


/* =========================
   RESPONSIVE / HP
========================= */

@media (max-width: 900px) {

  * {
    align-items: center;
    margin: 0 auto;
  }
  .navbar {
    gap: 15px;
  }

  .hero {
    flex-direction: column;

    text-align: center;

    padding-top: 60px;
  }

  .hero-content {
    max-width: 700px;
  }

  .social-media {
    justify-content: center;
  }

  .hero-buttons {
    position: static;

    justify-content: center;

    margin-top: 20px;
  }

  .skills-container,
  .project-container {
    grid-template-columns: 1fr 1fr;
  }

  .about-container,
  .contact-container {
    grid-template-columns: 1fr;
  }

  .about-image {
    order: 1;
  }

  .about-content {
    order: 2;
  }
}


@media (max-width: 800px) {

  .header {
    padding: 15px 5%;
  }

  .navbar {
    display: none;
  }

  .nav-button {
    padding: 8px 15px;
    font-size: 13px;
  }

  .hero {
    padding: 50px 20px;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .image-circle {
    width: 250px;
    height: 250px;
  }

  .card-one {
    left: -10px;
  }

  .card-two {
    right: -10px;
  }

  .section {
    padding: 60px 15px;
  }

  .section-title h2 {
    font-size: 28px;
  }

  .skills-container,
  .project-container {
    grid-template-columns: 1fr;
  }

  .about-info {
    grid-template-columns: 1fr;
  }

  .about-box {
    width: 220px;
    height: 220px;
    font-size: 70px;
  }

  .contact-form {
    padding: 20px;
  }
}